.places {
    display: block;
    max-width: 984px;
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 1279px) {
    .places{
        width: calc(100% - 96px);
}
}

@media (max-width: 1023px) {
    .places{
        width: calc(100% - 48px);
}
}

@media (max-width: 767px) {
    .places{
     width: 100%;
}
}
