.places {
    display: block;
    max-width: 984px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 92px;
}

@media (max-width: 1279px) {
    .places {
        width: calc(100% - 96px);
    }
}

@media (max-width: 1023px) {
    .places {
        width: calc(100% - 48px);
        padding-bottom: 90px;
    }
}

@media (max-width: 767px) {
    .places {
        width: 100%;
        padding-bottom: 66px;
    }
}