.place__image {
    grid-area: image;
    max-width: 460px;
    width: 100%;
    border: 0;
}

@media (max-width: 1279px) {
    .place__image {
        max-width: 440px;
    }
}

@media (max-width: 1023px) {
    .place__image {
        max-width: 340px;
    }
}

@media (max-width: 767px) {
    .place__image {
        padding: 0;
        max-width: 767px;
    }
}