.header__logo {
    background-image: url(../../../images/__logo.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width: 176px;
    height: 52px;
}