.place__website {
    grid-area: links;
    align-self: end;
    margin: 0;
    padding: 0;
}

@media (max-width: 767px) {
    .place__website {
        width: calc(100% - 32px);
        padding: 0 16px;
    }
}